*{
    font-family: 微軟雅黑;
    margin:0px;
    padding: 0px;
    font-size: 12px;
}
html
{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body
{
  margin: 0;
}
div{
    display: block;
}
ul
{
    margin: 0;
    padding: 0;
}
/*顶部导航*/
.header
{
    height: 65px;
    position: relative;
    background-color: #fff;
    border-bottom: 2px solid #020102;
}
.wrap
{
    width: 1024px;
    margin: 0 auto;
    height: auto;
}
.logo
{
    float: left;
    margin-top: 10px;
}
/*导航菜单*/
.menu
{
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
}
.menu li
{
    list-style: none;
    float: left;
    height: 65px;
    margin-left: 2px;
}
.menu li a
{
    text-decoration: none;
    display: block;
    padding: 0 18px;
    font-size: 15px;
    line-height: 65px;
}
.menu li a:hover
{
    transform: scale(2);
}
/*导航下的下载显示*/
.banner
{
    background: url(../img/bg1.png) repeat;
}
.banner .wrap
{
    height: 613px;
    background: url(../img/banner_bg.png) repeat;
    position: relative;
}
.banner .wrap .inner
{
    text-align: center;
    padding-top:66px;
}
.pa
{
    position: relative;
}
.banner .wrap .inner .img
{
    text-align: left;
    padding-left: 85px;
}
.banner .wrap .inner .btngroup
{
    position: absolute;
    right:60px;
    top:300px;
}
.banner .wrap .inner .btngroup a
{
    display: block;
    width: 223px;
    height: 57px;
}
.banner .wrap .inner .btngroup .btn1
{
    background: url(../img/btn01.png) no-repeat;
}
.banner .wrap .inner .btngroup .btn2
{
    background: url(../img/btn02.png) no-repeat;
}
/*模块一：app功能介绍（1）*/
.box1
{
    background: #fff;
    color: #886300;
}
.box1 .wrap
{
    position: relative;
    height: 610px;
}
.box1 .wrap .inner
{
    padding-top:0;
}
.box1 .wrap .inner h1
{
    text-align: center;
    margin-bottom: 35px;
}
.box1 .wrap .inner .box1_h1:before
{
    top:0;
    opacity: 0;
    font-size: 20px;
}
.box1 .wrap .inner .box1_h1:after
{
    top:28;
    opacity: 1;
    font-size: 70px;
}
.box1 .wrap  .inner .left-pic
{
    position: absolute;
    height: 97px;
    width: 97px;
}
.box1 .wrap .inner .right-pic
{
    position: absolute;
    height: 125px;
    width: 125px;
}
.box1 .wrap  .inner .img {
    text-align: center;
    width: 246px;
    margin: 0 auto;
}
/*模块二：app功能介绍（2）*/
.box2
{
    height: 610px;
}
.box2 .wrap .inner {
    padding-top: 15px;
}
.box2 .wrap .inner h1
{
    text-align: center;
    margin-bottom: 60px;
}
.box2 .wrap  .inner .left-pic
{
    position: absolute;
    height: 74px;
    width: 74px;
}
.box2 .wrap .inner .right-pic
{
    position: absolute;
    height: 106px;
    width: 106px;
}
/*app功能介绍（2）左部*/
.box2 .wrap .inner .left
{
    float: left;
    width: 505px;
    text-align: center;
    position: relative;
}

/*app功能介绍（2）右部*/
.box2 .wrap .inner .right
{
    float: left;
    width: 505px;
    text-align: center;
    position: relative;
}
/*模块三：团队介绍及反馈*/
.box3
{
    text-align: center;
    height: 545px;
}
.box3 .wrap p
{
    word-wrap: break-word;
}
.box3 .wrap .txt
{
    font-size: 18px;
    line-height: 30px;
}
.box3 .wrap .clearfix
{
    display: block;
}
.box3 .wrap ul
{
    text-align: center;
    padding-top: 30px;
    overflow: hidden;
}
.box3 .wrap ul li
{
    display: inline-block;
    zoom: 1;
    vertical-align: text-top;
    padding: 0 60px;
    width: 200px;
}
.box3 .wrap ul li .thumb
{
    margin-bottom: 30px;
}
.box3 .wrap ul li h2
{
    font-size: 23px;
    color: #333;
    margin-bottom: 10px;
    line-height: 23px;
}
.box3 .wrap ul li p
{
    font-size: 17px;
    color: #999;
}
/*网页底部*/
.footer
{
    text-align: center;
    background: #242638;
    padding: 18px 0;
    color: #9b9db5;
    line-height: 24px;
}
