*{
    font-family: 微軟雅黑;
    margin:0px;
    padding: 0px;
    font-size: 12px;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
}
div{
    display: block;
}
/*顶部导航*/
.header
{
    height: 65px;
    position: relative;
    background-color: #fff;
    border-bottom: 2px solid #020102;
}
.wrap
{
    width: 1024px;
    margin: 0 auto;
    height: auto;
}
.logo
{
    float: left;
    margin-top: 10px;
}
/*导航菜单*/
.menu
{
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
}
.menu li
{
    list-style: none;
    float: left;
    height: 65px;
    margin-left: 2px;
}
.menu li a
{
    text-decoration: none;
    display: block;
    padding: 0 18px;
    font-size: 15px;
    line-height: 65px;
}
.menu li a:hover
{
    transform: scale(2);
}
/*导航下的下载显示*/
.banner
{
    background: url(../img/bg1.png) repeat;
}
.banner .wrap
{
    height: 613px;
    background: url(../img/banner_bg.png) repeat;
    position: relative;
}
.banner .wrap .inner
{
    text-align: center;
    padding-top:66px;
}
.pa
{
    position: relative;
}
.banner .wrap .inner .img
{
    text-align: left;
    padding-left: 85px;
}
.banner .wrap .inner .btngroup
{
    position: absolute;
    right:60px;
    top:300px;
}
.banner .wrap .inner .btngroup a
{
    display: block;
    width: 223px;
    height: 57px;
}
.banner .wrap .inner .btngroup .btn1
{
    background: url(../img/btn01.png) no-repeat;
}
.banner .wrap .inner .btngroup .btn2
{
    background: url(../img/btn02.png) no-repeat;
}
.box1
{
    background: #fff;
    color: #886300;
}
.box1 .wrap
{
    position: relative;
    height: 610px;
}
.box1 .wrap .inner
{
    padding-top:0;
}
.box1 .wrap .inner h1
{
    text-align: center;
    margin-bottom: 35px;
}
.box1 .wrap .inner .box1_h1:before
{
    top:0;
    opacity: 0;
    font-size: 20px;
}
.box1 .wrap .inner .box1_h1:after
{
    top:28;
    opacity: 1;
    font-size: 70px;
}
.box1 .wrap  .inner .left-pic
{
    position: absolute;
    height: 97px;
    widows: 97px;
}
.box1 .wrap .inner .right-pic
{
    position: absolute;
    height: 125px;
    widows: 125px;
}
.box1 .wrap  .inner .img {
    text-align: center;
    width: 246px;
    margin: 0 auto;
}
